# Main prod requirements
django
environs[django]
requests
furl
gunicorn
pycmarkgfm
structlog
whitenoise[brotli]

# To generate requirements file, run:
# pip-compile --generate-hashes --output-file=requirements.prod.txt requirements.prod.in
