# Main prod requirements

# To generate requirements file, run:
# pip-compile --generate-hashes --output-file=requirements.prod.txt requirements.prod.in
bs4
django
django-csp
django-extensions
django-permissions-policy
django-vite
environs[django]
gunicorn
osgithub
pyyaml
requests
structlog
whitenoise[brotli]
