{% load static %}
{% load django_vite %}

<html lang="en">
<head>
  <meta charset="UTF-8">

  {% block meta %}
    {% with meta_title="OpenSAFELY: Actions" meta_description="Actions curated by the DataLab at the University of Oxford, working on behalf of NHS England." %}
      <title>{{ meta_title }}</title>
      <meta name="description" content="{{ meta_description }}">
    {% endwith %}
  {% endblock %}

  {# Modern browsers #}
  <script async defer type="module" src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.8.2/alpine.js" integrity="sha512-No22QdEJ4zlXvdQDpm6oeXcjwajpNxvnstx6NEU/5qZFysa5gsgj/bSfAFpSc9Za5LjbgQLRXyCeY53aWmk8ZA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  {% vite_hmr_client %}
  {% vite_asset 'assets/src/scripts/main.js' %}

  {% block extra_head %}{% endblock %}

  {% include "partials/fonts.html" %}

  <link rel="manifest" href="{% static 'manifest.webmanifest' %}">
</head>
<body class="lg:overflow-y-hidden">
  <div x-data="{ open: false }" @keydown.window.escape="open = false" class="pt-12 lg:pt-0 lg:h-screen flex overflow-hidden bg-white">

    <div class="ie-block flex flex-col w-0 flex-1 overflow-hidden">
      {% include "partials/header.html" %}

      <div class="flex flex-col flex-1 relative lg:overflow-y-auto overflow-x-hidden">
        <main class="flex-auto flex-shrink-0 pb-16 bg-gray-50">
          {% block content %}{% endblock content %}
        </main>

        {% include 'partials/footer.html' %}
      </div>
    </div>
  </div>
</body>
</html>
