{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href="{% static 'css/tailwind.css' %}" rel="stylesheet">

  {% block meta %}
    {% with meta_title="OpenSAFELY: Actions" meta_description="Actions curated by the DataLab at the University of Oxford, working on behalf of NHS England." %}
      <title>{{ meta_title }}</title>
      <meta name="description" content="{{ meta_description }}">
      {% include "partials/seo.html" %}
    {% endwith %}
  {% endblock %}

  {# Modern browsers #}
  <script async defer type="module" src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.8.2/alpine.js" integrity="sha512-No22QdEJ4zlXvdQDpm6oeXcjwajpNxvnstx6NEU/5qZFysa5gsgj/bSfAFpSc9Za5LjbgQLRXyCeY53aWmk8ZA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  {% block extra_head %}{% endblock %}

  {% include "partials/fonts.html" %}

  <link rel="icon" href="{% static 'favicon.ico' %}">
  <link rel="icon" href="{% static 'icon.svg' %}" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">
  <link rel="manifest" href="{% static 'manifest.webmanifest' %}">
</head>
<body class="lg:overflow-y-hidden">
  <div x-data="{ open: false }" @keydown.window.escape="open = false" class="pt-12 lg:pt-0 lg:h-screen flex overflow-hidden bg-white">

    <div class="ie-block flex flex-col w-0 flex-1 overflow-hidden">
      {% include "partials/header.html" %}

      <div class="flex flex-col flex-1 relative lg:overflow-y-auto overflow-x-hidden">
        <main class="flex-auto flex-shrink-0 pb-16 bg-gray-50">
          {% include "partials/alert.html" %}
          {% block content %}{% endblock content %}
        </main>

        {% include 'partials/footer.html' %}
      </div>
    </div>
  </div>
</body>
</html>
