{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title> Actions Registry </title>
    {% include "partials/seo.html" %}
{% endblock %}

{% block content %}
      <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col">
      <div class="overflow-x-auto -mx-6">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Actions
                  </th>
                  <th class="px-6 py-3 md:px-12 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider md:block">
                    Description
                  </th>
                  <th class="px-6 py-3 md:px-12 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Author
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for action in actions %}
                  <tr class="{% if forloop.counter0|divisibleby:'2' %}bg-white{% else %}bg-gray-50{% endif %}">
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 md:max-w-0 md:w-full">
                      <a href="{{ report.get_absolute_url }}" class="group flex space-x-2 text-sm truncate">
                          <a href="{% url 'actions:detail' action.id %}" class="text-oxford-800 group-hover:text-oxford-600 truncate max-w-sm md:max-w-none">
                            {{ action.name }}
                          </a>
                      </a>
                    </td>
                    <td class="px-6 py-4 md:px-12 whitespace-nowrap text-sm text-gray-500">
                      <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium capitalize
                        {% if report.activity == 'published' %}
                          bg-green-100 text-green-800
                        {% else %}
                          bg-oxford-100
                          text-oxford-600
                        {% endif %}">
                        {{ action.about }}
                      </span>
                    </td>
                    <td class="px-6 py-4 md:px-12 whitespace-nowrap text-sm text-gray-500">
                      {{ action.org }}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
