{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title> {{ action.name }} </title>
{% endblock %}

{% block content %}
<div class="container mx-auto px-4 md:px-8 p-4">
  <div class="bg-white shadow overflow-hidden sm:rounded-lg max-w-screen-lg mx-auto my-6">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-2xl leading-6 font-medium text-gray-900">
        {{ name }}
      </h3>
    </div>
    <div class="prose prose-sm sm:prose prose-oxford sm:prose-oxford px-8 sm:max-w-none mx-auto">
      <div>
        <h3>
          Description
        </h3>
        <dd>
        {{ about }}
        </dd>
      </div>
      <h3>
        Tag
      </h3>
      <div>
        {{ tag }}
      </div>
      <div>
        {{ readme|safe }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
